<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand"><a routerLink="/mobilelist">Mob Online</a></span>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown" *ngIf="username"> <!-- {1} -->
                  <a class="dropdown-toggle"  data-toggle="dropdown">{{username}} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a (click)="Logout()">Logout</a></li>
                  </ul>
                </li>
            <li><a routerLink="/cartdetails"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
        </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>


